*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Parents-1{
    color: white;
    background-color: rgb(55, 55, 55);
    width: 100%;
}

.Son-1 p {
    border: 1.5px solid royalblue;   
    width: 50%;
}

.Daughter-1 p{
    border: 1.5px solid crimson;
    width: 50%;
}

.Parents-2{
    background-color: grey;
}

.Son-2 p {
    border: 1.5px solid royalblue; 
    display: inline;  
    /* display: inline-block;
    display: block; */
    width: 50%;
}

/* In,Son-2 p (if we use display=inline - Width is not Working.
However, display=block and display=inline-block is working.) */

.Daughter-2 p{
    border: 1.5px solid crimson;
    display: inline;  
    /* display: inline-block;
    display: block; */
    width: 50%;
}

/* same as in, .Daughter-2 p (if we use display=inline - Width is not Working.
However, display=block and display=inline-block is working.) */


.Parents-3{
    background-color: darkslategrey;
}

.Son-3 {
    border: 1.5px solid royalblue;
    width: 50%;
}

.Daughter-3{
    width: 50%;
    border: 1.5px solid crimson;
}

