*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Parents-1{
    color: white;
    background-color: rgb(55, 55, 55);
    width: 100%;
}

.Son-1 p {
    border: 1.5px solid royalblue;   
    width: 50%;
}

.Daughter-1 p{
    border: 1.5px solid crimson;
    width: 50%;
}

.Parents-2{
    background-color: grey;
}

.Son-2 p {
    border: 1.5px solid royalblue; 
    display: inline;  
    /* display: inline-block;
    display: block; */
    width: 50%;
}

/* In,Son-2 p (if we use display=inline - Width is not Working.
However, display=block and display=inline-block is working.) */

.Daughter-2 p{
    border: 1.5px solid crimson;
    display: inline;  
    /* display: inline-block;
    display: block; */
    width: 50%;
}

/* same as in, .Daughter-2 p (if we use display=inline - Width is not Working.
However, display=block and display=inline-block is working.) */


.Parents-3{
    background-color: darkslategrey;
}

.Son-3 {
    border: 1.5px solid royalblue;
    width: 50%;
    /* display: inline; */
    /* display: block; */
}

.Daughter-3{
    width: 50%;
    border: 1.5px solid crimson;
    /* display: inline; */
    /* display: block; */
}

/* In, .Daughter-3 p (if we use display=inline - their Parents's Son and daughter image show in a same row.
However, if we use display=block, their Parents's Son and daughter image not show in a same row, they show in another row.) */


.Parents-4{
    background-color: darkkhaki;
}

.Son-4 img{
    border: 1.5px solid royalblue;
    width: 50%;
}

.Daughter-4 img{
    width: 50%;
    border: 1.5px solid crimson;
}

/* In,Assignment No.4 -> Their Child's Image shown as Zoom/Big Size.
Because We use Width=50%... */


.Parents-5{
    background-color: darkcyan;
}

.Parents-5 img{
    border: 1.5px solid crimson;
    width: 50%;
}

/* In,Assignment No.5 -> Parent div Contain Full Height of their Div. 
But, We gave width=50% of Parents Div*/


